.app {
  display: grid;
  padding: 30 px;
  width: 600px;
  height: 600px;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.game img{
  width: 70px;
  height: 70px;
}
